body {
  font-family: 'DM Sans', sans-serif;
  @include font(normal, 16px, 400, 28px, 0.04em);
  color: $primary-text-color;
  background-color: $background-main-color;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
