// mixin для шрифта
@mixin font($fs, $fz, $fw, $lh, $ls) {
  font-style: $fs;
  font-size: $fz;
  font-weight: $fw; 
  line-height: $lh / $fz;
  letter-spacing: $ls;
}

@mixin font-two($fs, $fz, $fw, $lh) {
  font-style: $fs;
  font-size: $fz;
  font-weight: $fw; 
  line-height: $lh / $fz;
}
// @include font ($fs, $fz, $fw, $lh, $ls);

// mixin для флекса
@mixin flex-center($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

// @include flex-center($type: flex);

@mixin flex($type: flex, $justify: center, $aling: center) {
  display: $type;
  justify-content: $justify;
  align-items: $aling;
}

// @include flex();

// mixin для background image
@mixin background-size-repeat-position {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// @include background-size-repeat-position();
