// цвета для текста
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$additional-text-color: #907e82;
$primary-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;
// цвета для фона
$background-hero: #ffb8ca;
$background-color: #e5e5e5;
$background-color-secondary: #fff5f6;
$icon-background: #fea5bb;
