// цвета для текста
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$additional-text-color: #907e82;

// акцентные цвета
$primary-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;
$line-decor-color: #e1e1e1;
$event-decor-color: #c7133e;

// цвета для фона
$background-hero-color: #ffb8ca;
$background-secondary-color: #fff5f6;
$background-additional-color: #ffffff;
$icon-background-color: #fea5bb;

// переменная для анимации
$transition: 300ms cubic-bezier(0.42, 0.97, 0.52, 1.49);
// transition: color  $transition;
