<section class="about about--background" id="made">
  <div class="container container--about-wrap">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="abuot__text-thumb">
      <p class="about__paragraph">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__description">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__specification">Aliquam erat volutpat. Aenean accumsan.</p>
      <button class="button-about" type="button" data-modal-open-about>
        Read more<svg class="button-about__icon" width="5" height="8">
          <use href="./images/sprite.svg#icon-right-red"></use>
        </svg>
      </button>
    </div>
    <!-- -------modal -->
    <div class="backdrop is-hidden" data-modal-about>
      <div class="about-modal">
        <p class="about-modal__text">in progress</p>
        <button type="button" class="about-modal__button-close" data-modal-close-about>
          <svg class="about-modal__icon-close" width="20" height="20">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
