<section class="reviews">
    <div class="container reviews__container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="multiple-items">
            <div>
                <img class="reviews__icon" srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1_2x.png 2x"
                    src="./images/desktop/customer1.png" alt="photo of Emily" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis hic nobis officia ut! Numquam quam necessitatibus sit alias, aut adipisci nisi optio natus?</p>
                </div>
                <div class="reviews_decor"></div>
                <p class="reviews__footer">Emily, Los Angeles</p>
            </div>
            <div>
                <img class="reviews__icon" srcset="./images/desktop/customer2.png 1x, ./images/desktop/customer2_2x.png 2x"
                    src="./images/desktop/customer2.png" alt="photo of Nikky" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident maiores, ut quidem expedita tempore, iste perferendis dolorum sit eligendi ab. Eum, nesciunt ut?</p>
                </div>
                <div class="reviews_decor"></div>
                <p class="reviews__footer">Nikky, Texas</p>
            </div>
            <div>
                <img class="reviews__icon" srcset="./images/desktop/customer3.png 1x, ./images/desktop/customer3_2x.png 2x"
                    src="./images/desktop/customer3.png" alt="photo of Bianka" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="reviews_decor"></div>
                <p class="reviews__footer">Bianka, New-York</p>
            </div>
        </div>
        <!-- <div class="slider_carusel">
            <div class="reviews__slider">
                <img class="reviews__icon" srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1_2x.png 2x" src="./images/desktop/customer1.png" alt="photo of Emily" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>       
                <p class="reviews__footer">Emily, Los Angeles</p>               
            </div>
            <div class="reviews__slider">
                <img class="reviews__icon" srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1_2x.png 2x"
                    src="./images/desktop/customer1.png" alt="photo of Emily" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__footer">Emily, Los Angeles</p>
            </div>
            <div class="reviews__slider">
                <img class="reviews__icon" srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1_2x.png 2x"
                    src="./images/desktop/customer1.png" alt="photo of Emily" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__footer">Emily, Los Angeles</p>
            </div>
        </div> -->
    </div>
</section>