<section class="reviews">
    <div class="container reviews__container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="">
            <div class="reviews__slider">
                <img class="reviews__icon" srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1_2x.png 2x" src="./images/desktop/customer1.png" alt="photo of Emily" />
                <div class="reviews__thumb">
                    <p class="reviews__content">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>       
                <p class="reviews__footer">Emily, Los Angeles</p>               
            </div>
        </div>
    </div>
</section>