<section class="gallery">
    <div class="container grid">
        
            <div class="div1" style="background-color: rgb(255, 255, 255);"> 
            <img src="/src/images/mobile/about-cow_2x_mob.png" alt=""></div>
            <div class="div2" style="background-color: rgb(85, 85, 65);"> </div>
            <div class="div3" style="background-color: rgb(98, 196, 19);"> </div>
            <div class="div4" style="background-color: rgb(26, 167, 167);"> </div>
            <div class="div5" style="background-color: rgb(66, 194, 49);"> </div>
            <div class="div6" style="background-color: rgb(55, 103, 131);"> </div>
            <div class="div7" style="background-color: rgb(33, 29, 95);"> </div>
            <div class="div8" style="background-color: rgb(128, 128, 46);"> </div>
            <div class="div9" style="background-color: rgb(65, 8, 20);"> </div>
            <div class="div10" style="background-color: rgb(24, 33, 119);"> </div>
        
    </div>
</section>