<section class="gallery">
    <div class="container grid">
        <!-- 1 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g1_mobile.png 1x, ./images/gallery/g1_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g1_tablet.png 1x, ./images/gallery/g1_tablet_2x.png 2x" media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g1.png 1x, ./images/gallery/g1_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g1.png" alt="" />
            </picture> 
            <!-- 2 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g2_mobile.png 1x, ./images/gallery/g2_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g2_tablet.png 1x, ./images/gallery/g2_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g2.png 1x, ./images/gallery/g2_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g2.png" alt="icecream" />
            </picture>
            <!-- 3 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g3_mobile.png 1x, ./images/gallery/g3_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g3_tablet.png 1x, ./images/gallery/g3_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g3.png 1x, ./images/gallery/g3_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g3.png" alt="icecream" />
            </picture>
            <!-- 4 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g5_mobile.png 1x, ./images/gallery/g5_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g5_tablet.png 1x, ./images/gallery/g5_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g5.png 1x, ./images/gallery/g5_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g5.png" alt="icecream" />
            </picture>
            <!-- 5 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g10_mobile.png 1x, ./images/gallery/g10_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g10_tablet.png 1x, ./images/gallery/g10_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g10.png 1x, ./images/gallery/g10_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g10.png" alt="icecream" />
            </picture>
            <!-- 6 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g6_mobile.png 1x, ./images/gallery/g6_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g6_tablet.png 1x, ./images/gallery/g6_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g6.png 1x, ./images/gallery/g6_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g6.png" alt="icecream" />
            </picture>
            <!-- 7 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g7_mobile.png 1x, ./images/gallery/g7_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g7_tablet.png 1x, ./images/gallery/g7_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g7.png 1x, ./images/gallery/g7_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g7.png" alt="icecream" />
            </picture>
            <!-- 8 -->
        <picture class="grid__item">
            <source srcset="./images/gallery/g8_mobile.png 1x, ./images/gallery/g8_mobile_2x.png 2x" media="(max-width: 767px)" />
            <source srcset="./images/gallery/g8_tablet.png 1x, ./images/gallery/g8_tablet_2x.png 2x"
                media="(max-width: 1279px)" />
            <source srcset="./images/gallery/g8.png 1x, ./images/gallery/g8_2x.png 2x" media="(min-width: 1280px)" />
            <img src="./images/gallery/g8.png" alt="icecream" />
        </picture>
            <!-- 9 -->
            <picture class="grid__item ">
                <source srcset="./images/gallery/g9_mobile.png 1x, ./images/gallery/g9_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g9_tablet.png 1x, ./images/gallery/g9_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g9.png 1x, ./images/gallery/g9_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g9.png" alt="icecream" />
            </picture>
            <!-- 10 -->
            <picture class="grid__item">
                <source srcset="./images/gallery/g4_mobile.png 1x, ./images/gallery/g4_mobile_2x.png 2x" media="(max-width: 767px)" />
                <source srcset="./images/gallery/g4_tablet.png 1x, ./images/gallery/g4_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/gallery/g4.png 1x, ./images/gallery/g4_2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/gallery/g4.png" alt="icecream" />
            </picture>        
    </div>
</section>