<section class="gallery">
    <div class="container grid">
        <!-- 1 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g1_tablet.png ../src/images/gallery/g1_tablet_2x.png 2x" media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g1.png ../src/images/gallery/g1_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g1.png" alt="" />
            </picture> 
            <!-- 2 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g2_tablet.png ../src/images/gallery/g2_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g2.png ../src/images/gallery/g2_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g2.png" alt="" />
            </picture>
            <!-- 3 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g3_tablet.png ../src/images/gallery/g3_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g3.png ../src/images/gallery/g3_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g3.png" alt="" />
            </picture>
            <!-- 4 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g5_tablet.png ../src/images/gallery/g5_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g5.png ../src/images/gallery/g5_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g5.png" alt="" />
            </picture>
            <!-- 5 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g10_tablet.png ../src/images/gallery/g10_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g10.png ../src/images/gallery/g10_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g10.png" alt="" />
            </picture>
            <!-- 6 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g6_tablet.png ../src/images/gallery/g6_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g6.png ../src/images/gallery/g6_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g6.png" alt="" />
            </picture>
            <!-- 7 -->
            <picture class="grid__item grid__item--position">
                <source srcset="../src/images/gallery/g7_tablet.png ../src/images/gallery/g7_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g7.png ../src/images/gallery/g7_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g7.png" alt="" />
            </picture>
            <!-- 8 -->
        <picture class="grid__item grid__item--position">
            <source srcset="../src/images/gallery/g8_tablet.png ../src/images/gallery/g8_tablet_2x.png 2x"
                media="(max-width: 1279px)" />
            <source srcset="../src/images/gallery/g8.png ../src/images/gallery/g8_2x.png 2x" media="(min-width: 1280px)" />
            <img src="../src/images/gallery/g8.png" alt="" />
        </picture>
            <!-- 9 -->
            <picture class="grid__item ">
                <source srcset="../src/images/gallery/g9_tablet.png ../src/images/gallery/g9_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g9.png ../src/images/gallery/g9_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g9.png" alt="" />
            </picture>
            <!-- 10 -->
            <picture class="grid__item">
                <source srcset="../src/images/gallery/g4_tablet.png ../src/images/gallery/g4_tablet_2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="../src/images/gallery/g4.png ../src/images/gallery/g4_2x.png 2x" media="(min-width: 1280px)" />
                <img src="../src/images/gallery/g4.png" alt="" />
            </picture>        
    </div>
</section>