<section class="hero-heade">
    <div class="containe">
    <header class="header">
        <div class="header__container">
            <a class="logo" href="./index.html">
                <svg class="logo__icon" width="50" height="50">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <p class="logo__text">icecream</p>
            </a>
            <nav class="site-nav">
                <ul class="site-nav__list">
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="#home">Home</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="#about">About us</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="#made">How it’s made?</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="#product">Our products</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <button class="button-mobile" type="button">
                <svg class="button-mobile__icon" width="20" height="12">
                    <use href="./images/sprite.svg#icon-burger-menu"></use>
                </svg>
            </button>
            <button class="button-buy" type="button">
                    Buy now
                    <svg class="button-buy__icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-right-red"></use>
                    </svg>
            </button>
            


        </div>
    </header>

    <div class="hero__title-main">
        <h1 class="hero__title">
            ice cream
            made with
            <span class="hero__span">passion</span>
        </h1>
    
        <ul class="compositions-button">
            <li class="compositions-button__item">
                <a class="compositions-button__link compositions-button__link--pink" href="#product">Products</a>
            </li>
    
            <li class="compositions-button__item list">
                <a class="compositions-button__link compositions-button__link--white" href="#made">How it’s made?</a>
            </li>
        </ul>
    </div>
  

    <p class="wrap-milk__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <button class="button-slider">
        <svg class="button-slider__icon" width="8" height="7">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
    </button>
    
<!--  можливий слайдер    <div class="hero-milk-slider">
        <p class="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
    
        <input type="checkbox" id="button" class="hero__check visually-hidden" aria-hidden="true">
        <label class="hero__button" for="button">
            <svg class="hero__arrow" width="9" height="8">
                <use href=""></use>
            </svg>
    
            <svg class="hero__close" width="9" height="8">
                <use href=""></use>
            </svg>
        </label>
    
        
    
        <div class="hero__overlay--second">
            <p class="hero__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>
    
    </div>-->
    <div class="counter">
        <ul class="counter__list">
            <li class="counter__item">
                <p class="counter__number">16</p>
                <p class="counter__label">cafes</p>
            </li>
    
            <li class="counter__item">
                <p class="counter__number">23</p>
                <p class="counter__label">food trucks</p>
            </li>
        </ul>
    </div>  
    
    <div class="elips">
        <picture>
            <source srcset="./images/desktop/hero-ice-W.webp 1x, ./images/desktop/hero-ice_2x-W.webp 2x" media="(min-width: 1280px)"
                type="image/webp">
            <source srcset="./images/desktop/hero-ice.png 1x, ./images/desktop/hero-ice_2x.png 2x" media="(min-width: 1280px)">
            
            <source srcset="./images/tablet/hero-ice_tablet-W.webp 1x, ./images/tablet/hero-ice_2x_tablet-W.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/tablet/hero-ice_tablet.png 1x, ./images/tablet/hero-ice_2x_tablet.png 2x"
                media="(min-width: 768px)">

            <source srcset="./images/mobile/hero-ice_mob-W.webp 1x, ./images/mobile/hero-ice_2x_mob-W.webp 2x" type="image/webp">
            <source srcset="./images/mobile/hero-ice_mob.png 1x, ./images/mobile/hero-ice_2x_mob.png 2x">
    
            <img class="hero-icecreme" src="./images/mobile/hero-ice_mob.png" alt="Icecream">
    
        </picture>

    </div>
    
    <picture>
        <source srcset="./images/desktop/hero-milk-W.webp 1x, ./images/desktop/hero-milk_2x-W.webp 2x"
            media="(min-width: 1280px)" type="image/webp">
        <source srcset="./images/desktop/hero-milk.png 1x, ./images/desktop/hero-milk_2x.png 2x"
            media="(min-width: 1280px)">
    
        <source srcset="./images/tablet/hero-milk_tablet-W.webp 1x, ./images/tablet/hero-milk_2x_tablet-W.webp 2x"
            media="(min-width: 768px)" type="image/webp">
        <source srcset="./images/tablet/hero-milk_tablet.png 1x, ./images/tablet/hero-milk_2x_tablet.png 2x"
            media="(min-width: 768px)">
        <img class="hero__milk" src="./images/tablet/hero-milk_tablet.png" alt="image with milk">
    </picture>
    
    <picture>
        <source srcset="./images/desktop/hero-girl-W.webp 1x, ./images/desktop/hero-girl_2x-W.webp 2x"
            media="(min-width: 1280px)" type="image/webp">
        <source srcset="./images/desktop/hero-girl.png 1x, ./images/desktop/hero-girl_2x.png 2x"
            media="(min-width: 1280px)">
    
        <source srcset="./images/tablet/hero-girl_tablet-W.webp 1x, ./images/tablet/hero-girl_2x_tablet-W.webp 2x"
            media="(min-width: 768px)" type="image/webp">
        <source srcset="./images/tablet/hero-girl_tablet.png 1x, ./images/tablet/hero-girl_2x_tablet.png 2x"
            media="(min-width: 768px)">
        <img class="hero__girl" src="./images/tablet/hero-girl_tablet.png"
            alt="woman with icecream">
    </picture>


    </div>
    
</section>


