<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button
    type="button"
    class="button-menu js-close-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg width="14" height="14">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <button type="button" class="mobile-menu__button btn-light" mobmenu-modal-open-btn>
    Buy now
    <svg class="mobile-menu__icon" width="6" height="10">
      <use href="./images/sprite.svg#icon-right-red"></use>
    </svg>
  </button>

  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link mobile-menu__link--current" href="./index.html">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-link-one" href="#about" >About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-link-two" href="#made" >How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-link-three" href="#product" >Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-link-four" href="#contact" >Contact</a>
      </li>
    </ul>
  </nav>

  <div class="mobmenu-backdrop is-hidden" mobmenu-modal-window>
    <div class="mobmenu-modal">
      <button class="mobmenu-modal-btn" type="button" mobmenu-modal-close-btn>
        <svg class="mobmenu-modal-btn__icon" width="14" height="14">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <form class="mobmenu-form">
        <p class="mobmenu-form__legend">If you want to buy ice cream now, leave your details below</p>

        <label class="mobmenu-form__label" for="client-name">Your name &dArr;</label>
        <input class="mobmenu-form__input" type="text" name="client-name" id="client-name" required>

        <label class="mobmenu-form__label" for="client-phone">Your phone &dArr;</label>
        <input class="mobmenu-form__input mobmenu-form__input--margin" type="tel" name="client-phone" id="client-phone" required>

        <p class="mobmenu-form__legend">&ast; If you want to receive a newsletter with our current offers - also leave your email</p>

        <label class="mobmenu-form__label" for="client-mail">&ast; Your email</label>
        <input class="mobmenu-form__input" type="email" name="client-mail" id="client-mail">

        <button class="mobmenu-form__btn" type="submit">I need ice cream faster :)</button>
      </form>
    </div>
  </div>
</div>
