</section>
<section class="products" id="product">
  <div class="container">
    <p class="products__pretitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item js-card" id="cardContainer">
        <div class="products__front-wrap products__front-wrap--icecream products__front-wrap--card">
          <h3 class="products__caption products__caption--icecream">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.<span
              class="products__description products__description--hidden"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button
            type="button"
            aria-expanded="false"
            aria-controls="cardContainer"
            class="products__button js-card-open-button"
          ></button>
        </div>
        <div class="back">
          <h3 class="products__caption products__caption--icecream">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.<span
              class="products__description products__description--hidden"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button
            type="button"
            aria-expanded="false"
            aria-controls="cardContainer"
            class="products__button js-card-open-button"
          ></button>
        </div>
      </li>
      <li class="products__item js-card" id="cardContainer">
        <div
          class="products__front-wrap products__front-wrap--icecoffee products__front-wrap--card"
        >
          <h3 class="products__caption products__caption--icecream">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.<span
              class="products__description products__description--hidden"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button
            type="button"
            aria-expanded="false"
            aria-controls="cardContainer"
            class="products__button js-card-open-button"
          ></button>
        </div>
      </li>
      <li class="products__item js-card" id="cardContainer">
        <div
          class="products__front-wrap products__front-wrap--milkshakes products__front-wrap--card"
        >
          <h3 class="products__caption products__caption--icecream">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.<span
              class="products__description products__description--hidden"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button
            type="button"
            aria-expanded="false"
            aria-controls="cardContainer"
            class="products__button js-card-open-button"
          ></button>
        </div>
      </li>
    </ul>
  </div>
</section>
