<section class="products">
    <div class="container">
        <p class="products__pretitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item products__icecream">
                <h3 class="products__item--title products__item--icecream">ice cream</h3>
                <p class="products__item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="products__item--button"></button>
            </li>
            <li class="products__item products__icecoffee">
                <h3 class="products__item--title products__item--icecoffee">ice coffee</h3>
                <p class="products__item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="products__item--button"></button>
            </li>
            <li class="products__item products__milkshakes">
                <h3 class="products__item--title products__item--milkshakes">milkshakes</h3>
                <p class="products__item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="products__item--button"></button>
            </li>
        </ul>
    </div>
</section>