.reviews {
  background-color: $background-additional-color;
}

.reviews__container {
  text-align: center;
  padding-bottom: 20px;
}

.reviews__slider {
  width: 100%;
}

.reviews__icon {
  margin: 0 auto 29px;
}

.reviews__thumb {
  position: relative;
  width: 280px;
  height: 308px;
  //   padding: 43px 66px 26px 57px;
  margin: 0 auto 30px;
  background-color: #fafafa;
  background-image: repeating-linear-gradient(
    to bottom,
    $line-decor-color,
    $line-decor-color 1px,
    transparent 1px,
    transparent 30px
  );
  background-size: 180px 217px;
  background-repeat: no-repeat;
  background-position: left 50% top 71px;

  &::before {
    content: '';
    display: inline-block;
    width: 55px;
    height: 40px;
    position: absolute;
    top: 28px;
    left: 61px;
    z-index: 1;
    background-image: url('../images/desktop/icon-quotes.png');
    background-size: 55px 40px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/icon-quotes@2x.png');
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1279px) {
    background-color: transparent;
    margin-bottom: 24px;
    width: 620px;
    height: 164px;
    background-size: 524px 63px;
    background-position: left 60px top 76px;
    &::before {
      top: 30px;
      left: 40px;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    width: 926px;
    height: 138px;
    background-size: 813px 32px;
    background-position: left 59px top 75px;
    &::before {
      top: 32px;
      left: 50px;
    }
  }
}

.reviews__content {
  width: 157px;
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 43px;
  left: 57px;
  @include font(normal, 12px, 500, 31px, 0.04em);
  color: $secondary-text-color;
  background-color: transparent;

  @media screen and (min-width: 767px) and (max-width: 1279px) {
    width: 460px;
    @include font(normal, 14px, 500, 30px, 0.04em);
    left: 80px;
    top: 47px;
  }

  @media screen and (min-width: 1280px) {
    width: 750px;
    @include font(normal, 16px, 500, 30px, 0.04em);
    left: 87px;
    top: 47px;
  }
}

.reviews_decor {
  position: relative;
  margin: 0 auto 15px;
  &,
  &::before,
  &::after {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $event-decor-color;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
  }
  &::before {
    right: 10px;
  }
  &::after {
    right: -10px;
  }
}

.reviews__footer {
  font-family: inherit;
  @include font(normal, 14px, 500, 26px, 0.04em);
  color: $secondary-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 767px) {
    margin-bottom: 35px;
  }

  // &::before {
  //   content: '';
  //   display: block;
  //   width: 32px;
  //   height: 4px;
  //   margin: 0 auto 18px;
  //   background-image: url('../images/desktop/red-points.png');
  //   background-size: 32px 4px;

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     background-image: url('../images/desktop/red-points@2x.png');
  //   }
  // }

  // &::after {
  //   content: '';
  //   display: block;
  //   width: 72px;
  //   height: 12px;
  //   margin: 30px auto 0;
  //   background-image: url('../images/desktop/marker-home.png');
  //   background-size: 72px 12px;

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     background-image: url('../images/desktop/marker-home@2x.png');
  //   }
  // }
}

button.slick-prev,
button.slick-next {
  display: none;
  opacity: 0;
  overflow: hidden;
}

button.slick-prev {
  left: 0;
}

button.slick-next {
  right: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li.slick-active {
  & button::before {
    width: 13px;
    height: 13px;
    border-radius: 0;
    background-image: url('../images/desktop/home-pic.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/home-pic@2x.png');
    }
  }
}
