/*загальні стилі щодо secition/containera*/
.hero-heade {
  padding: 6px 0 160px 0;
  height: 502px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding: 37px 0 28px 0;
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    padding: 38px 0 55px 0;
    height: 665px;
  }
  background-color: $background-hero-color;
}

.containe {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1280px) {
    width: 1050px;
  }
}

/*---------------HEADER------------------*/
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 199px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-accent-color;
  fill: currentColor;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $secondary-accent-color;
  }

  @media screen and(min-width: 1280px) {
    position: absolute;
    top: 0;
    left: -70px;
  }

  &__icon {
    border-radius: 50%;
    transform: rotate(180deg) rotateY(180deg);
    background-color: $background-additional-color;
  }

  &__text {
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    @include font(normal, 23px, 400, 28px, 0.04em);
  }
}

.site-nav {
  display: none;

  @media screen and(min-width: 1280px) {
    display: block;
    margin-left: 240px;
    z-index: 1;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'DM Sans', sans-serif;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.313;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #c7133e;
    }
  }
}

/*-------------------MOBILE BUTTON-------------------*/
.button-mobile {
  z-index: 2;
  padding: 0;
  margin-left: auto;
  width: 30px;
  height: 30px;
  color: $primary-accent-color;
  background-color: transparent;
  border-style: unset;

  cursor: pointer;

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

/*кнопки */
.button-buy {
  @extend %button-vector;

  display: flex;
  align-items: center;
  z-index: 1;
  display: none;
  align-items: baseline;
  justify-content: center;
  padding: 12px 36px;
  margin-left: 25px;
  color: $primary-accent-color;
  border-style: unset;
  background-color: #ffffff;
  border-radius: 22px;
  transition: background-color 250ms linear;

  &__icon {
    margin-left: 12px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 160px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}

/*-------------HERO TITLE-----------------------*/

.hero__title-main {
  margin-top: 137px;
  position: relative;
  max-width: 220px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    max-width: 168px;
    margin-top: 15px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 277px;
    margin-top: 83px;
  }
}

.hero__title {
  font-family: 'Titan One', cursive;
  @include font(normal, 26px, 400, 43.51px, 0.04em);
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.136;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.157;
    margin-bottom: 25px;
  }
}

.hero__span {
  font-family: 'Titan One', cursive;
  font-size: 48px;
  line-height: 0.958;
  text-transform: uppercase;
  color: $primary-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.911;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.896;
  }
}

/*--------------------HERO BUTTON--------------------*/

.compositions-button {
  position: relative;
  display: flex;

  &__item:not(:last-child) {
    margin-right: 11px;
  }
}

.compositions-button__link {
  display: inline-flex;
  padding: 7px 13px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  transition: background-color 250ms linear;

  @media screen and (min-width: 1280px) {
    padding: 10px 22px 12px;
    font-size: 14px;
    line-height: 1.29;
  }

  &--pink {
    color: #ffffff;
    background-color: $primary-accent-color;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  &--white {
    color: $primary-accent-color;
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

.wrap-milk__text {
  position: absolute;
  top: 255px;
  left: 120px;
  display: none;
  width: 121px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    display: unset;
  }

  @media screen and (min-width: 1280px) {
    top: 448px;
    left: 183px;
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.button-slider {
  position: absolute;
  top: 310px;
  left: 121px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  color: $primary-accent-color;
  border-style: unset;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    top: 547px;
    left: 182px;
    width: 26px;
    height: 26px;
  }
}

/*--------------------HERO-COUNTER---------------------*/
.counter {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    right: -7px;
    top: 60px;
  }

  @media screen and (min-width: 1280px) {
    right: -5px;
    top: 134px;
  }
}

.counter__number {
  position: relative;
  z-index: 1;
  font-family: 'Titan One', cursive;
  font-size: 28px;
  line-height: 1.142;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-accent-color;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.152;
    text-align: end;
  }
}

.counter__number::before {
  content: '';
  position: absolute;
  right: 5px;
  top: -2px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $primary-text-color;
  z-index: -1;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    right: -16px;
    top: -7px;
  }
}

.counter__label {
  font-size: 8px;
  line-height: 1.25;
  color: $primary-text-color;
  margin-bottom: 13px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.285;
    text-align: end;
  }
}

/*--------------------IMAGE-ICE--------------------------*/
.elips {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 83px;
    left: 14px;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #ffa5ba;

    @media screen and (min-width: 768px) {
      width: 324px;
      height: 322px;
      left: 268px;
      top: -7px;
    }

    @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      left: 382px;
      top: 17px;
    }
  }
}

.hero-icecreme {
  position: absolute;
  top: 86px;
  left: 105px;

  @media screen and (min-width: 768px) {
    left: 340px;
    top: 26px;
  }

  @media screen and (min-width: 1280px) {
    left: 494px;
    top: 70px;
  }
}

.hero__milk {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    left: 0;
    top: 208px;
    animation-duration: 1000ms;
  }

  @media screen and (min-width: 1280px) {
    left: -39px;
    top: 388px;
  }
}

.hero__girl {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 229px;
    right: 0;
    animation-duration: 1500ms;
    animation-delay: 500ms;
  }

  @media screen and (min-width: 1280px) {
    top: 395px;
    right: -11px;
  }
}
