/*загальні стилі щодо containera*/

.hero-header__container {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1280px) {
    width: 1050px;
  }
}

/*---------------HEADER------------------*/

.logo {
  width: 199px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-accent-color;
  fill: currentColor;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $secondary-accent-color;
  }

  @media screen and(min-width: 1280px) {
    position: absolute;
    top: 0;
    left: -70px;
  }

  &__icon {
    border-radius: 50%;
    transform: rotate(180deg) rotateY(180deg);
    background-color: $background-additional-color;
  }

  &__text {
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    @include font(normal, 23px, 400, 28px, 0.04em);
  }
}

.site-nav {
  display: none;

  @media screen and(min-width: 1280px) {
    display: block;
    margin-left: 240px;
    z-index: 1;
  }

  &__list {
    @include flex-center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'DM Sans', sans-serif;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.313;
    transition: color $transition;

    &:hover,
    &:focus {
      color: #c7133e;
    }
  }
}

/*-------------------MOBILE BUTTON-------------------*/

// .button-menu {
//   z-index: 3;

.button-mobile {
  z-index: 2;
  padding: 0;
  margin-left: auto;
  width: 30px;
  height: 30px;
  color: $primary-accent-color;
  background-color: transparent;
  border-style: unset;

  cursor: pointer;

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

/*кнопки */
.button-buy {
  @extend %button-vector;
  @include flex-center;
  z-index: 1;
  display: none;
  align-items: baseline;
  padding: 12px 36px;
  margin-left: 25px;
  color: $primary-accent-color;
  border-style: unset;
  background-color: #ffffff;
  border-radius: 22px;
  transition: background-color $transition;

  &__icon {
    margin-left: 12px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 160px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}

/*--------Modal-order--------------->*/

.order-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.order-backdrop {
  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width:768px) {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 1;
    overflow-y: scroll;
    transition: opacity 300ms;
    background-color: transparent;
    background-image: linear-gradient(
      0deg,
      rgba(253, 126, 214, 0.4) 0%,
      rgba(110, 148, 255, 0.4) 28%,
      rgba(231, 243, 72, 0.4) 61%,
      rgba(126, 253, 170, 0.4) 100%
    );
    backdrop-filter: blur(5px);
  }
  @media screen and(min-width:1280px) {
    padding-top: 208px;
  }
}

.order-backdrop .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.5);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  background-color: linear-gradient(
    0deg,
    rgba(253, 126, 214, 0.2) 0%,
    rgba(110, 148, 255, 0.2) 28%,
    rgba(231, 243, 72, 0.2) 61%,
    rgba(126, 253, 170, 0.2) 100%
  );
  border-radius: 10px;

  animation: animate 20000ms linear infinite 1000ms;
  animation-delay: calc(-1s * var(--i));
  &:hover {
    background-color: $primary-accent-color;
    animation-play-state: paused;
  }

  @keyframes animate {
    0% {
      transform: translateY(-200px);
    }
    50% {
      transform: translateY(200px);
    }
    100% {
      transform: translateY(-200px);
    }
  }
}

.square:nth-child(1) {
  @media screen and (min-width: 768px) {
    top: 10px;
    right: 124px;
    width: 75px;
    height: 75px;
  }
  @media screen and (min-width: 1280px) {
    top: -10px;
    right: 234px;
  }
}

.square:nth-child(2) {
  @media screen and (min-width: 768px) {
    top: 198px;
    left: 63px;
    width: 100px;
    height: 100px;
  }
  @media screen and (min-width: 1280px) {
    top: 152px;
    left: 320px;
  }
}

.square:nth-child(3) {
  top: 367px;
  right: 143px;
  width: 110px;
  height: 110px;
}

.square:nth-child(4) {
  top: 200px;
  right: 70px;
  width: 90px;
  height: 90px;
}

.square:nth-child(5) {
  @media screen and (min-width: 768px) {
    top: 200px;
    right: 70px;
    width: 75px;
    height: 75px;
  }
}

.square:nth-child(6) {
  top: 722px;
  left: 216px;
  width: 80px;
  height: 80px;
}

.square:nth-child(7) {
  top: 93px;
  right: 254px;
  width: 60px;
  height: 60px;
}

.modal__form {
  max-width: 426px;
  height: auto;
  top: 10px;
  position: relative;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: rgba(194, 226, 151, 0.73);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.3, 1);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  @media screen and(min-width:1280px) {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__close-btn {
  position: absolute;
  @include flex-center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__icon-close {
  transition: fill 250ms cubic-bezier(0.5, 0, 0.3, 1);
  &:hover,
  &:focus {
    color: $primary-text-color;
    fill: currentColor;
  }
}

.form__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  @include font(normal, 20px, 700, 26px, 0.03em);
  text-align: center;
  color: $secondary-text-color;
  @media screen and (min-width: 1280px) {
    line-height: 1.15;
  }
}

.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #2a2a2a;
}

.form__input {
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus + .form__icon {
    fill: $secondary-accent-color;
  }
}

.form__icon {
  position: absolute;
  top: 31px;
  left: 12px;
  fill: $secondary-text-color;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  padding: 12px 16px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(70, 69, 69, 0.5);
  }
}

.form__input,
.form__textarea {
  &:focus {
    border: 1px solid $primary-accent-color;
  }
}

.button-send {
  width: 209px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
  }
}

.form__checkbox-label {
  @include flex-center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  &:focus .checkbox__icon,
  &:hover .checkbox__icon {
    border: 2px solid $primary-accent-color;
  }
  @media screen and(max-width:1279px) {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox {
  appearance: none;
  position: absolute;
  &:checked + .checkbox__icon {
    display: inline-block;
    border: 2px solid $primary-accent-color;
    background-color: $primary-accent-color;
    background-image: url(../images/check.svg);
    @include background-size-repeat-position();
  }
  &__icon {
    position: relative;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid $secondary-text-color;
    border-radius: 2px;
    background-size: contain;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  &__link {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $primary-accent-color;
  }
}

.form__btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-------------HERO TITLE-----------------------*/

.hero__title-main {
  margin-top: 113px;
  position: relative;
  max-width: 220px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    max-width: 168px;
    margin-top: 2px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 277px;
    margin-top: 83px;
  }
}

.hero__title {
  font-family: 'Titan One', cursive;
  @include font(cursive, 26px, 400, 30px, 0.04em);
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.136;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.157;
    margin-bottom: 25px;
  }
}

.hero__span {
  font-family: 'Titan One', cursive;
  font-size: 48px;
  line-height: 0.958;
  text-transform: uppercase;
  color: $primary-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.911;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.896;
  }
}

/*--------------------HERO BUTTON--------------------*/

.compositions-button {
  position: relative;
  display: flex;

  &__item:not(:last-child) {
    margin-right: 11px;
  }
}

.compositions-button__link {
  display: inline-flex;
  padding: 7px 13px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  transition: background-color $transition;

  @media screen and (min-width: 1280px) {
    padding: 10px 22px 12px;
    font-size: 14px;
    line-height: 1.29;
  }

  &--pink {
    color: #ffffff;
    background-color: $primary-accent-color;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  &--white {
    color: $primary-accent-color;
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

.wrap-milk__text {
  position: absolute;
  top: 188px;
  left: 120px;
  display: none;
  width: 121px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    display: unset;
  }

  @media screen and (min-width: 1280px) {
    top: 313px;
    left: 180px;
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.button-slider {
  position: absolute;
  top: 243px;
  left: 120px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  color: $primary-accent-color;
  border-style: unset;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    top: 411px;
    left: 178px;
    width: 26px;
    height: 26px;
  }
}

/*--------------------HERO-COUNTER---------------------*/
.counter {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    right: -6px;
    top: -7px;
  }

  @media screen and (min-width: 1280px) {
    right: 1px;
    top: -10px;
  }
}

.counter__number {
  position: relative;
  z-index: 1;
  font-family: 'Titan One', cursive;
  font-size: 28px;
  line-height: 1.142;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-accent-color;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.152;
    text-align: end;
  }
}

.counter__number::before {
  content: '';
  position: absolute;
  right: 5px;
  top: -2px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $primary-text-color;
  z-index: -1;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    right: -16px;
    top: -7px;
  }
}

.counter__label {
  font-size: 8px;
  line-height: 1.25;
  color: $primary-text-color;
  margin-bottom: 13px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.285;
    text-align: end;
  }
}

/*--------------------IMAGE-ICE--------------------------*/
.elips {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -111px;
    left: 16px;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #ffa5ba;

    @media screen and (min-width: 768px) {
      width: 324px;
      height: 322px;
      left: 272px;
      top: -73px;
    }

    @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      left: 359px;
      top: -122px;
    }
  }
}

.hero-icecreme {
  position: absolute;
  top: -102px;
  left: 97px;

  @media screen and (min-width: 768px) {
    left: 345px;
    top: -41px;
  }

  @media screen and (min-width: 1280px) {
    left: 475px;
    top: -65px;
  }
}

.hero__milk {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    left: 0;
    top: 141px;
    animation-duration: 1000ms;
  }

  @media screen and (min-width: 1280px) {
    left: -39px;
    top: 256px;
  }
}

.hero__girl {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 162px;
    right: 0;
    animation-duration: 1500ms;
    animation-delay: 500ms;
  }

  @media screen and (min-width: 1280px) {
    top: 261px;
    right: -2px;
  }
}
