.products__title {
  margin-bottom: 144px;

  font-family: 'Titan One', sans-serif;
  @include font($fs: normal, $fz: 34px, $fw: 400, $lh: 39px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: $primary-accent-color;
}

.products__pretitle {
  margin-bottom: 15px;

  font-family: 'Titan One', sans-serif;
  @include font($fs: normal, $fz: 18px, $fw: 400, $lh: 21px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: $secondary-accent-color;
}

.products__item {
  border-radius: 24px;

  padding: 161px 40px 40px 40px;
  margin-bottom: 130px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products__icecream {
  background-color: $secondary-accent-color;
}

.products__icecoffee {
  background-color: #f0d1a5;
}

.products__milkshakes {
  background-color: #c2e297;
}

.products__item--title {
  position: relative;

  font-family: 'Titan One', sans-serif;
  @include font($fs: normal, $fz: 20px, $fw: 400, $lh: 23px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 66px;
}

.products__item--icecream::before {
  content: '';

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  margin-bottom: 22px;

  background-image: url('../images/mobile/product1_mob.png');
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product1_2x_mob.png');
  }
}

.products__item--icecoffee::before {
  content: '';

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  margin-bottom: 22px;

  background-image: url('../images/mobile/product2_mob.png');
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product2_2x_mob.png');
  }
}

.products__item--milkshakes::before {
  content: '';

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  margin-bottom: 22px;

  background-image: url('../images/mobile/product3_mob.png');
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product3_2x_mob.png');
  }
}

.products__item--description {
  @include font($fs: normal, $fz: 14px, $fw: 700, $lh: 21px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.products__item--button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $background-additional-color;

  margin-left: auto;
  margin-right: auto;
}
