.products__title {
  margin-bottom: 144px;

  font-family: 'Titan One', sans-serif;
  @include font($fs: normal, $fz: 34px, $fw: 400, $lh: 39px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: $primary-accent-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;

    @include font($fs: normal, $fz: 48px, $fw: 400, $lh: 55px, $ls: 0.04em);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;

    @include font($fs: normal, $fz: 58px, $fw: 400, $lh: 66px, $ls: 0.04em);
  }
}

.products__pretitle {
  margin-bottom: 15px;

  font-family: 'Titan One', sans-serif;
  @include font($fs: normal, $fz: 18px, $fw: 400, $lh: 21px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: $secondary-accent-color;

  @media screen and (min-width: 768px) {
    @include font($fs: normal, $fz: 26px, $fw: 400, $lh: 30px, $ls: 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include font($fs: normal, $fz: 30px, $fw: 400, $lh: 34px, $ls: 0.04em);
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0 -10px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    margin: 0 -15px;
  }
}
.products__item {
  border-radius: 24px;

  padding: 161px 40px 40px 40px;
  margin-bottom: 130px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 152px 11px 40px 11px;
    margin: 0 10px;
  }

  @media screen and (min-width: 1280px) {
    padding: 163px 44px 50px 50px;
    margin: 0 15px;
  }
}

.products__item--icecream {
  background-color: $secondary-accent-color;
}

.products__item--icecoffee {
  background-color: #f0d1a5;
}

.products__item--milkshakes {
  background-color: #c2e297;
}
// --------------------------------------
.products__caption {
  position: relative;

  font-family: 'Titan One', sans-serif;
  @include font($fs: normal, $fz: 20px, $fw: 400, $lh: 23px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 66px;
  transition-property: color, text-shadow;
  transition-duration: 1000ms;
  transition-delay: 1300ms;
  transition-timing-function: linear;
  @media (min-width: 768px) {
    @include font(normal, 20px, 400, 23px, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;

    @include font($fs: normal, $fz: 30px, $fw: 400, $lh: 34px, $ls: 0.04em);
  }
}

.products__caption::after {
  content: '';

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 26px;
  height: 6px;

  background-image: url('../images/desktop/group.png');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 32px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/desktop/group@2x.png');
  }
}

.products__caption--icecream::before {
  content: '';

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  margin-bottom: 22px;

  background-image: url('../images/mobile/product1_mob.png');
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product1_2x_mob.png');
  }

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;

    margin-bottom: 30px;

    background-image: url('../images/tablet/product1_tablet.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/product1_2x_tablet.png');
    }
  }

  @media screen and (min-width: 1280px) {
    width: 335px;
    height: 335px;

    margin-bottom: 38px;

    background-image: url('../images/desktop/product1.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/product1_2x.png');
    }
  }
}

.products__caption--icecoffee::before {
  content: '';

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  margin-bottom: 22px;

  background-image: url('../images/mobile/product2_mob.png');
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product2_2x_mob.png');
  }

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;

    margin-bottom: 30px;

    background-image: url('../images/tablet/product2_tablet.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/product2_2x_tablet.png');
    }
  }

  @media screen and (min-width: 1280px) {
    width: 335px;
    height: 335px;

    margin-bottom: 38px;

    background-image: url('../images/desktop/product2.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/product2_2x.png');
    }
  }
}

.products__caption--milkshakes::before {
  content: '';

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  margin-bottom: 22px;

  background-image: url('../images/mobile/product3_mob.png');
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product3_2x_mob.png');
  }

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;

    margin-bottom: 30px;

    background-image: url('../images/tablet/product3_tablet.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/product3_2x_tablet.png');
    }
  }

  @media screen and (min-width: 1280px) {
    width: 335px;
    height: 335px;

    margin-bottom: 38px;

    background-image: url('../images/desktop/product3.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/product3_2x.png');
    }
  }
}

.products__description {
  @include font($fs: normal, $fz: 14px, $fw: 700, $lh: 21px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    @include font(normal, 14px, 700, 25px, 0.04em);
    margin-bottom: 40px;
    text-transform: none;
  }

  @media screen and (min-width: 1280px) {
    @include font(normal, 16px, 700, 28px, 0.04em);
    margin-bottom: 62px;
  }
}

.products__button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  transition-property: rotateY();
  transition-duration: 1000ms;
  transition-delay: 1300ms;
  transition-timing-function: linear;

  background-image: url('../images/desktop/arrow-right.png');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/desktop/arrow-right@2x.png');
  }

  margin-left: auto;
  margin-right: auto;
  // -----------------------
  // position: absolute;
  // left: 43%;
  // bottom: 40px;
  // @media (min-width: 768px) {
  //   left: 40%;
  // }
  // @media (min-width: 1280px) {
  //   left: 45%;
  // }
}

.products__button:hover + .products__item {
  transform: rotateY(180deg);
}
.products__description--hidden {
  @media (min-width: 768px) {
    display: none;
  }
}
// ------------стилі для анімації----------

// .products__scene {
//   // --------скопійовані стилі з .products__item ----------
//   position: relative;
//   border-radius: 24px;
//   padding: 161px 40px 40px 40px;
//   margin-bottom: 130px;
//   height: 525px;
//   @media screen and (min-width: 768px) {
//     padding: 152px 11px 40px 11px;
//     margin: 0 10px;
//     height: 485px;
//   }

//   @media screen and (min-width: 1280px) {
//     padding: 163px 44px 80px 50px;
//     margin: 0 15px;
//     max-width: 335px;
//   }
//   // ------------------------------------------
//   transition-duration: 2s;
//   transition-timing-function: linear;
//   transform: perspective(150px);
//   background-color: orangered;
// }

// .products__scene--icecream {
//   background-color: $secondary-accent-color;
// }

// .products__scene--icecoffee {
//   background-color: #f0d1a5;
// }

// .products__scene--milkshakes {
//   background-color: #c2e297;
// }
// .products__scene.is-open {
//   transform: perspective(500px) rotateY(360deg);
//   background-color: rgb(247, 250, 82);
// }
// .products__scene.is-open .products__description {
//   opacity: 0;
// }
// .products__read-more {
//   position: absolute;
//   opacity: 0;
//   left: 0;
//   top: 230px;
//   text-align: center;
//   padding: 25px;
//   @include font(normal, 12px, 700, 19px, normal);
//   color: $primary-accent-color;

//   transition-property: opacity;
//   transition-duration: 1000ms;
//   transition-delay: 1300ms;
//   transition-timing-function: linear;
//   @media (min-width: 768px) {
//     top: 195px;
//     @include font(normal, 10px, 700, 19px, normal);
//   }
//   @media (min-width: 1280px) {
//     top: 220px;
//     @include font(normal, 14px, 700, 19px, normal);
//   }
// }
// .products__scene.is-open .products__read-more {
//   opacity: 1;
// }
// .products__scene.is-open .products__caption {
//   color: $primary-accent-color;
//   text-shadow: 2px 2px 4px #000000;
// }
// .products__scene.is-open .products__button {
//   transform: rotateY(180deg);
// }

// -----------------------------------------------
// .wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }
.products__item--card-ice {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  perspective: 700px;
}
.products__front-wrap {
  background-color: orangered;
  border: 1px solid rgb(2, 99, 2);
}
.back {
  background-color: rgb(12, 0, 2);
  border: 1px solid rgb(247, 159, 26);
  transform: rotateY(180deg);
}
.front-color,
.back-color {
  color: rgb(252, 247, 247);
}
.products__front-wrap,
.back {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // left: 0;
  // top: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  transition-property: rotateY();
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.42, 0.97, 0.52, 1.49);

  backface-visibility: hidden;
}
// .open-button {
//   z-index: 1;
//   left: 0;
//   top: 0;
//   width: 50px;
//   height: 50px;
//   border-radius: 50px;
//   background-color: rgb(252, 249, 252);
// }
.products__item--icecream.is-open .products__front-wrap {
  transform: rotateY(180deg);
}
.products__item--icecream.is-open .back {
  transform: rotateY(360deg);
}
